/*
JMC Tutoring Cascading Style Sheets
Filename: styles.css

Author(s): Jenny Hua, Milan Sapkota, Chase Wille
Date: 05/12/2019
*/




/***************/
/*reset content*/
/***************/

a, article, section, body, div, figcaption, figure, footer, header, h1, 
h2, h3, h4, h5, main, img, li, nav, p, section, ul, ol, fieldset, form, input, label, legend, textarea, div, span, {
   border: 0;
   padding: 0;
   margin: 0;
}

* {
    margin: 0px;
}
/**************/
/*main content*/
/**************/

body {
    font-size: 18px;
    font-family: 'Source Serif Pro', serif;
    background-image: linear-gradient(#4ecdc4, #556270);
}


header {
    font-family: 'Jockey One', sans-serif;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 40px 100px 40px;
    margin-bottom: 50px;
    background-image: url(../images/studypic2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header img {
    height: 80px;
}

header h1 {
    color: rgb(74, 146, 199);
}

.sectionHeader {
    font-size: 1.5em;
    display: block;
    text-align: center;
}

main {
    display: block;
    margin: 20px 10% 50px 10%;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 10px auto;
    margin-bottom: 1%;
}

footer address {
    font-size: .7em;
}

h1 {
    font-family: 'Jockey One', sans-serif;
}

h2 a:hover {
    color: white;
}

h2 {
    font-family: 'Jockey One', sans-serif;
    text-decoration: underline;
    text-indent: 2em;
}

article {
    margin-bottom: 30px;
}

p {
    text-indent: 1em;
}

p::first-letter {
    font-size: 1.2em;
}

.hoursTable
{
    position: relative;
    margin-top: 0;
}

.hoursTable td {
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.sectionHeader h1 {
    margin: 20px auto;
}

/***********/
/*code page*/
/***********/

.column {
    float: left;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.progSect {
    margin: 3% 3%;
    padding: 0;
}

.progSect h2 {
    text-align: left;
}

#funnyArray {
    font-size: 1.15em;
    font-style: italic;
    margin-right: .1em;
}

#meetTutor h2 {
    font-size: 1.5em;
}


/********/
/*navbar*/
/********/


nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#nav-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    border-bottom: 2px double rgb(0, 0, 0);
    /* border-radius: 25px; */
}

#nav-wrapper a.active {
    float: left;
    text-decoration: underline;
    background-color: rgba(185, 122, 122, 0.17);
    color: rgb(70, 163, 134);
}

#nav-wrapper a {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    color: rgb(127, 224, 194);
}

#nav-wrapper a:hover {
    font-size: 1.05em;
    padding: 1em 1em;
    background-color: rgba(48, 87, 87, 0.85);
    text-decoration: underline;
    transition: 0.5s;
    color: aqua;
}


/***********/
/*Home Page*/
/***********/

#indexPricing th {
    font-size: 1.1em;
    text-decoration: underline;
}

#indexPricing td {
    border-bottom: 1px solid;
    text-align: center;
    padding-right: 1em
}

.sectionHeader img {
    width: 60%;
    border: 5px solid;
    border-radius: 25px;
    box-shadow: -10px 10px 25px;
}

/* Audio styles*/
audio, object, embed {
	display: block;
	margin: 15px auto;
}


/**************/
/*contact form*/
/**************/

fieldset {
    display: block;
    margin: 0 1% 3% 1%;
    border: 2px solid #3d4048;
    border-radius: 0px 20px 0px 20px;
    box-shadow: -10px 10px 10px;
}

fieldset legend {
    font-size: 1.2em;
    font-weight: bold;
}

fieldset label {
    font-size: 1.1em;
}

textarea {
    width: 98%;
    border: 1px solid #3d4048;
}

.btnForm {
    display: inline-block;
    float: right;
    font-size: 1.5em;
    margin: 1% 1%;    
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(14, 211, 217, 0.56);
}

.btnForm:hover {
    cursor: grab;
    background-color: aqua;
} 


#contactMain .sectionHeader {
    font-size: 1.1em;
}

.contactInfo label {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin: 1%;
    padding-right: 10px;
}

.contactInfo input {
    height: 24px;
}

.subjectInfo select {
    margin-right: 20px;
}

.subjectInfo label {
    margin-right: 20px;
}

#formSubmission label {
    display: inline-block;
    float: left;
}
#formSubmission input[type=checkbox] {
    display: inline-block;
    margin-left: 5px;
}

/**************/
/*math page   */
/**************/

#clockPic {
    display: block;
    width: 250px;
    border: 5px solid;
    border-radius: 25px;
    box-shadow: -10px 10px 20px;
    float: right;
}

.mathSect ul {
    list-style-type: square;
}

/**************/
/*about page   */
/**************/

#abt-faq h2 {
    margin-bottom: 20px;
}

#abt-faq p {
    margin-bottom: 20px;
}
.aboutSect {
    margin: 4% 2%;
}

